*{
    box-sizing:border-box!important;
}
body,html,#container{
    margin:1%;
    background-color: #E6E6E6;
    height:95%;
    width:97%;
    font-family:'Poiret One', cursive;
}
.user{
    width:15%;
    float:left;

    margin-left:1%;
    margin-bottom: 1%;
}
.user div{
    background-color: #fff;
    padding:5px;
    text-align: center;
    box-shadow: 1px 2px #ccc;
}

.user div:nth-child(1) img{
    height:80px;
    border-radius: 300px;
    border:2px solid #fff;
    box-shadow:0px 1px 10px #ccc;
}

.name{
    text-transform: capitalize;
}
@media screen and (max-width:1061px){
    .user div:nth-child(1) img{
       height:60px;
    }
}
@media screen and (max-width:505px){
    .user{
        width:100%;
    }
}